name: Terraform Apply (Dev)

on:
  push:
    branches:
      - main
    paths:
      - "infra/**"

jobs:
  terraform-apply:
    runs-on: ubuntu-latest
    environment:
      name: dev

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-east-1
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.5.0

      - name: Terraform Init
        working-directory: infra/envs/dev
        run: terraform init

      - name: Terraform Apply
        working-directory: infra/envs/dev
        run: terraform apply -auto-approve
